/* 
    light: 300
    regular: 400
    medium: 500
    semibold: 600
    bold: 700
*/

/* import font: Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    /* Dat ten font */
    font-family: "Poppins";
    /* Khai bao duong dan den font mong muon */
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-BoldItalic.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

* {
    font-family: "Poppins";
}

body {
    margin: 0;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}

.container_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_header {
    background-color: #000000;
    padding: 12px 0;
    color: #FAFAFA;
}

.top_content {
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    width: calc(100% - 78px);
    text-align: center;
}

.top_header a {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin-left: 8px;
    color: #ffffff;
}

.language select {
    border: 0;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    width: 78px;
    height: 24px;
}

.language select:focus {
    outline: unset;
}

.container_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    line-height: 24px;
}

.menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
}

.menu li a {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
    margin-right: 48px;
}

/* Cho phan tu cuoi cung khong margin-right */
.menu li:last-child a {
    margin-right: 0;
}

.menu li a.active {
    border-bottom: 1px solid #000000;
}

.content_right {
    display: flex;
    align-items: center;
}

.form_search img {
    align-items: center;
}

.form_search {
    position: relative;
}

.form_search input {
    height: 38px;
    width: 243px;
    border-radius: 4px;
    background-color: #F5F5F5;
    box-sizing: border-box;
    padding: 7px 12px 7px 20px;
    outline: unset;
    border: none;
}

.form_search button {
    position: absolute;
    left: 207px;
    top: 7px;
    border: 0;
    font-size: 15px;
    outline: unset;
    background-color: #F5F5F5;
}

.form_search i {
    color: #000000;

}

.product_favories {
    font-size: 23px;
    display: inline-block;
    margin-right: 24px;
    margin-left: 24px;
}

.cart {
    display: inline-block;
    font-size: 23px;
}

main {
    border-top: 1px solid #000000;
}

.slider {
    display: flex;
    padding-top: 40px;
}

.menu_left {
    width: 223px;
    box-sizing: border-box;
    padding-right: 16px;

}

.menu_left ul {
    list-style-type: none;

}

.menu_left ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
}

.menu_left ul li {
    display: flex;
    justify-content: space-between;
}

.list_banner {
    width: calc(100% - 233px);
    border-left: 1px solid #000000;
    box-sizing: border-box;
    padding-left: 45px;

    /* De css vi tri cua thanh truot */
    position: relative;
}

.list_banner .item_slider {
    position: relative;
}

.list_banner .item_slider .voucher {
    font-family: "Inter";
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.04em;
    color: #ffffff;
    width: 294px;
    position: absolute;
    top: 127px;
    left: 64px;
}

.list_banner .item_slider>a {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    top: 269px;
    left: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.list_banner .item_slider>a>div {
    padding: 2px 0;
    border-bottom: 1px solid #ffffff;
}

.custom-dots-class {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;

    position: absolute;
    width: 892px;
    justify-content: center;
    bottom: 11px;
    /* left: 45px; */
    align-items: center;

}

.custom-dots-class li {
    margin-right: 11px;
}

.custom-dots-class li:last-child {
    margin-right: 0;
}

.custom-dots-class li button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 0;
    background-color: #7D8184;
    box-sizing: border-box;
    color: #7D8184;
    overflow: hidden;

    padding: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    cursor: pointer;
}

.custom-dots-class .slick-active button {
    width: 14px;
    height: 14px;
    border: 2px solid #ffffff;
    background-color: #DB4444;
    color: #DB4444;
}

.today {
    margin-top: 140px;
    margin-left: 135px;
    margin-bottom: 60px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    color: #DB4444;
    padding-left: 36px;
    position: relative;
}

.title::before {
    content: '';
    width: 20px;
    height: 40px;
    display: block;
    position: absolute;
    background-color: #DB4444;
    left: 0;
    top: 0;
    border-radius: 4px;
}

.row {
    width: 1170px;
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.desc {
    font-size: 36px;
    /* La semibold */
    font-weight: 600;
    color: #000000;
    line-height: 48px;
    font-family: "Inter";
    display: flex;
    align-items: flex-end;
}

.desc .countdown {
    display: flex;
    align-items: flex-end;
    margin-left: 87px;
}

.desc .countdown div {
    font-size: 32px;
    font-weight: bold;
    font-family: "Inter";
    line-height: 30px;
}

.desc .countdown div span {
    font-family: "Poppins";
    font-size: 12px;
    line-height: 18px;

}

.desc .countdown>span {
    /* Do span k margin duoc */
    display: inline-block;
    margin: 0 17px;
    color: #DB4444;
}

.list_product {
    width: 100%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    margin: 40px -15px 0px;
}

.list_product .item {
    /* width: 25%; */
    box-sizing: border-box;
    padding: 0 15px;
}

.list_product .item .img-prd {
    display: block;
    position: relative;
    width: 270px;
    height: 250px;
}

.btn-slick {
    border-radius: 50%;
    width: 46px;
    height: 46px;
    opacity: 100%;
    border: 0;
    text-align: center;
    background-color: #F5F5F5;
    font-size: 18px;
}

.discount {
    position: absolute;
    display: inline-block;
    width: 55px;
    height: 26px;
    border-radius: 4px;
    background-color: #DB4444;
    text-align: center;
    line-height: 26px;
    color: #fafafa;
    font-size: 12px;
    font-weight: 400;
    top: 12px;
    left: 12px;
}

.favorite,
.view_more {
    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 34px;
    font-size: 18px;
    position: absolute;
    top: 12px;
    right: 12px;
}

.view_more {
    top: 57px;
}

.img-prd button {
    width: 99%;
    box-sizing: border-box;
    /* padding: 0 10px; */
    border: 0;
    height: 41px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 0 0 7px 7px;
    position: absolute;
    bottom: 0;
    left: 2px;
    background-color: #000000;
    z-index: -1;
    transition: 0.5s;
    cursor: pointer;
}

.img-prd:hover button {
    bottom: 0;
    z-index: 1;
}

.content_product {
    background-color: #ffffff;
}

.content_product h3 {
    margin: 16px 0 0 0;
}

.content_product a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}

.content_product>p:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    color: #DB4444;
    margin: 8px 0 0 0;
}

.content_product>p:nth-child(2)>span {
    color: #000000;
    opacity: 50%;
    text-decoration: line-through;
    margin-left: 12px;
}

.content_product>p:nth-child(3) {
    margin: 8px 0 0 0;
}

.content_product>p:nth-child(3)>i {
    color: #FFAD33;
}

.content_product>p:nth-child(3)>span {
    font-size: 14px;
    font-weight: 600;
    opacity: 50%;
    margin-left: 8px;
}

.view_all_product {
    width: 1170px;
    display: flex;
    justify-content: center;
}

.view_all_product button {
    background-color: #DB4444;
    border: 0;
    border-radius: 4px;
    padding: 16px 48px;
    margin-top: 60px;
}

.view_all_product button a {
    color: #F5F5F5;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.line {
    border-bottom: 1px solid #000000;
    opacity: 30%;
    margin: 0 135px;
}

.categories {
    margin: 80px 135px 70px;
}

.row_category {
    margin-top: 20px;
}

.item_category>a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.list_category {
    margin-top: 60px;
}

.img_category {
    width: 170px;
    height: 145px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6px;
}

.best_selling {
    margin: 70px 135px 140px
}

.row_best_selling {
    margin-top: 20px;
}

.row_best_selling>button>a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #FAFAFA;

}

.row_best_selling>button {
    width: 159px;
    height: 56px;
    border: none;
    background-color: #DB4444;
    border-radius: 4px;
}