* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
}

.logo {
    width: 10%;
    background-color: red;
    color: white;
    padding-left: 10px;
    text-transform: uppercase;
}

.title {
    width: 90%;
    text-align: center;
}

nav {
    background-color: rgb(25, 71, 255);
    margin-top: 20px;
}

nav>div {
    height: 4px;
    background-color: rgb(38, 181, 214);
}

.menu {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    list-style-type: none;
    height: 35px;
    justify-content: center;
}

.menu>li>a {
    text-decoration: none;
    color: white;
    line-height: 35px;
    display: block;
    padding: 0 10px;
    border-right: 1px solid white;
}

main {
    display: flex;
    margin-top: 20px;
}

.left {
    width: 80%;
    margin-left: 30px;
}

.left>p {
    font-family: 'Times New Roman';
    font-size: 16;
    font-weight: bold;
}

.content {
    margin-bottom: 15px;
}

.right {
    width: 15%;
    border: 5px solid #222;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

.post_title {
    margin-bottom: 15px;
}

.post>ul {
    list-style-type: none;
}

.post>ul>li {
    margin-bottom: 4px;
}

.post>ul>li>a {
    text-decoration: none;
    color: #222;
}