* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-color: rgb(22, 22, 225);
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}

.card_title {
    font-weight: bold;
    color: blue;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.card_content>p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

.card_content>input {
    width: 100%;
    padding: 4px;
    margin-bottom: 8px;
    outline: none;
}

.card_tick>label>input {
    margin-right: 5px;
    cursor: pointer;
}

.btn {
    width: 100%;
    background-color: blue;
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 4px;
    border: none;
}