h1 {
    text-align: center;
}

.list_products {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.item {
    padding: 10px;
    border: 1px solid #222;
    border-radius: 6px;
    margin: 15px;
    text-align: center;
}

.product>a {
    text-decoration: none;
    color: #222;
    font-size: 16px;
    font-weight: bold;
}

.description>i {
    color: orange;
}

.price_no_discount {
    text-decoration: line-through;
    color: #ccc;
}